    <form class="login" [formGroup]="loginFormGroup" (ngSubmit)="login()">
        <div class="container">
        <fieldset>
            <h2>Login Form</h2>

            <!-- email -->
            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input formControlName="email"
                    [class.input-error]="f['email'].touched && f['email'].invalid"
                    type="email" name="email" id="email" placeholder="user@gmail.com" style="width: 100%;">
            </p>
            <ng-container *ngIf="f['email'].touched && f['email'].invalid">
                <p *ngIf="f['email'].errors['required']" class="alert alert-danger">
                    Email is required!
                </p>

                <p *ngIf="f['email'].errors['email']" class="alert alert-danger">
                    Email is not valid!
                </p>
            </ng-container>

            <!-- password -->
            <p class="field field-icon">
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input formControlName="password" type="password" name="password" id="password" placeholder="******" style="width: 100%;">
            </p>
            <ng-container *ngIf="f['password'].touched && f['password'].invalid">
                <p *ngIf="f['password'].errors['required']" class="alert alert-danger">
                    Password is required!
                </p>
            </ng-container>

            <button class="btn btn-primary btn-block" [disabled]="loginFormGroup.invalid">Login</button>

            <p class="text-center">
                Don't have an account?
                <a routerLink="/user/register">Register</a>
            </p>

        </fieldset>
        </div>
    </form>