/* footer  */

footer {
    margin: 2em auto 1rem;
    bottom: 0;
    width: 100%;
}

footer a {
    float: center;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}