<div class="container article">
    <h2>My articles</h2>
    <div *ngIf="!myArticles; else articlesBlock">
        <app-load-animation></app-load-animation>
    </div>
    <ng-template #articlesBlock>
        <div *ngIf="myArticles?.length != 0 ; else createNew">
            <app-article-item class="mb-1" *ngFor="let article of pageSlice" [article]="article">
            </app-article-item>
            <mat-paginator [length]="myArticles.length" [pageSize]="3" [pageSizeOptions]="[3, 6, 9, 100]"
                aria-label="Select page" (page)="OnPageChange($event)">
            </mat-paginator>
        </div>
        <ng-template #createNew>
            <p class="create">
                You haven't created any articles.
                <a routerLink="/article/create">Create new article</a>
            </p>
            <p class="create">
                Want to read articles from other authors?
                <a routerLink="/article/list">Go to All articles</a>
            </p>
        </ng-template>
    </ng-template>
</div>