img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
}

button {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    width: 180px;
    height: 50px;
}
