<div class="container article">
    <h2>Articles</h2>
    <div *ngIf="!articles; else articlesBlock">
        <app-load-animation></app-load-animation>
    </div>
    <ng-template #articlesBlock>
        <div *ngIf="articles?.length != 0 ; else createNew">
            <app-article-item class="mb-1" *ngFor="let article of pageSlice" [article]="article">
            </app-article-item>
            <mat-paginator [length]="articles.length" [pageSize]="3" [pageSizeOptions]="[3, 6, 9, 100]"
                aria-label="Select page" (page)="OnPageChange($event)">
            </mat-paginator>
        </div>
        <ng-template #createNew>
            <p class="create">
                There are no articles created yet.
                <a routerLink="/article/create">Create new article</a>
            </p>
        </ng-template>
    </ng-template>
</div>