<ng-template [ngIf]="users">
  <div class="container admin">
    <h3>Admin panel - User management</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let user of pageSlice;">
        <h5>{{user.username}}</h5>
        <p *ngIf="user._kmd['status'] !== undefined"> <i class="fas fa-ban"></i>Disabled</p>
        <p *ngIf="user._kmd['roles'] !== undefined && user._kmd['roles'].length != 0"> <i
            class="fas fa-user-shield"></i>Admin</p>
        <div id="buttons">
          <ng-container *ngIf="user._kmd['status'] === undefined">
            <button type="button" class="btn btn-info" [routerLink]="['/user/profile',user._id]">Profile
              details</button>
            &nbsp;
            <button type="button" class="btn btn-success" [routerLink]="['/user/profile/edit/',user._id]">Update user
              info</button>
            &nbsp;
            <button *ngIf="user._kmd['roles'] === undefined" type="button" class="btn btn-danger"
              (click)="disableUser(user._id)">Disable
              user</button>
          </ng-container>
          <button *ngIf="user._kmd['status'] !== undefined" type="button" class="btn btn-success"
            (click)="enableUser(user._id)">Enable
            user</button>
        </div>
        <hr>
      </li>
    </ul>
    <mat-paginator [length]="users.length" [pageSize]="3" [pageSizeOptions]="[3, 6, 9, 100]"
            aria-label="Select page" (page)="OnPageChange($event)">
        </mat-paginator>
  </div>
</ng-template>