 
    .msg {
      font-size: 1.6rem;
      left: 16%;
      top: 20%;
      width: 75%;
    }
  
  a {
    text-decoration: none;
    color: #95c2de;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  