<ng-template [ngIf]="article">
    <div class="container article">
        <h4 class="panel-title">{{article.headline}}</h4>
        <div class="mb-2"><img *ngIf="article.image" alt="image" src="{{article.image}}"></div>
        <div class="d-flex flex-column align-items-start menu">
            <div *ngIf="article._kmd['ect']== article._kmd['lmt']" class="mb-1 text-muted small"><b>Created by:</b>
                <span class="fa fa-pencil p-1"> {{article.author}}</span>
            </div>
            <div *ngIf="article._kmd['ect']!= article._kmd['lmt']" class="mb-1 text-muted small"><b>Modified by:</b>
                <span class="fa fa-pencil p-1"> {{article.modified}}</span>
            </div>
            <div *ngIf="article._kmd['ect']== article._kmd['lmt']" class="mb-1 text-muted small"><b>Published:</b>
                <span class="fas fa-calendar p-1"> {{article._kmd['ect'] | date: 'fullDate'}}</span>
                <span class="fa fa-clock-o p-1"> {{article._kmd['ect'] | date: 'HH:mm'}}</span>
            </div>
            <div *ngIf="article._kmd['ect']!= article._kmd['lmt']" class="mb-1 text-muted small"><b>Modified:</b>
                <span class="fas fa-calendar p-1"> {{article._kmd['lmt'] | date: 'fullDate'}}</span>
                <span class="fa fa-clock-o p-1"> {{article._kmd['lmt'] | date: 'HH:mm'}}</span>
            </div>
        </div>
        <hr class="menu mb-1 mt-1">
        <div class="article-content">
            <p class="text-justify">{{article.content}}</p>
        </div>
        <div *ngIf="canModify(article)" id="buttons">
            <button type="button" class="btn btn-success" routerLink="/article/list/{{article._id}}/edit">Edit
                article</button>
            &nbsp;
            <button type="button" class="btn btn-danger" (click)="deleteArticle(article._id)">Delete
                article</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-0 border">
                <div  class="card-body p-4">
                    <app-comment-create [articleId]="article._id" (articleCommentEmitter)="loadComments()">
                    </app-comment-create>

                    <div [hidden]="(comments$ | async)?.length == 0" class="mt-5">
                        <button class="accordion-button" (click)="isExpanded=!isExpanded" type="button" data-toggle="collapse"
                            data-target="#collapse" aria-expanded="false" aria-controls="collapseExample"
                            *ngIf="(comments$ | async)?.length">
                            <span *ngIf="isExpanded==false">Show comments</span>
                            <span *ngIf="isExpanded==true">Hide comments</span>
                        </button>
                        <div class="collapse" id="collapse">

                            <div *ngIf="!(comments$ | async); else commentsBlock">
                                <app-load-animation></app-load-animation>
                            </div>
                            <ng-template #commentsBlock>
                                <div class="card card-body">
                                    <app-comment-item *ngFor="let comment of (comments$ | async)" [comment]="comment"
                                        (articleCommentEmitter)="loadComments()">
                                    </app-comment-item>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>