<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-md navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" [ngClass]="{ show: isExpanded }">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" routerLink="/">
                    <a><i class="fa fa-fw fa-home"></i><span>Home</span></a>
                </li>
                <ng-container *ngIf="!isLogged">
                    <li class="nav-item" routerLink="/user/login">
                        <a><i class="fas fa-sign-in-alt"></i><span>Login</span></a>
                    </li>
                    <li class="nav-item" routerLink="/user/register">
                        <a><i class="fas fa-user-plus"></i><span>Register</span></a>
                    </li>
                </ng-container>
                <ng-container *ngIf="isLogged">
                    <li class="nav-item" routerLink="article/create">
                        <a><i class="fa fa-plus"></i><span>Create
                                article</span></a>
                    </li>
                    <li class="nav-item" routerLink="article/myArticles">
                        <a><i class="fas fa-newspaper"></i><span>My articles</span></a>
                    </li>
                    <li class="nav-item" routerLink="article/list">
                        <a><i class="fas fa-person-booth"></i><span>All articles</span></a>
                    </li>
                </ng-container>
                <li class="dropdown" *ngIf="isAdmin">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i
                            class="fas fa-user-shield"></i>Admin</a>
                    <ul class="dropdown-menu">
                        <a class="dropdownItem" routerLink="/admin/users">User management</a>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-lg-0" *ngIf="isLogged">

                <li class="nav-item" [routerLink]="['/user/profile/',userId]">
                    <a><img [src]="avatar === 'null' || avatar === '' ? defaultAvatarPath: avatar" class="avatar" alt="Avatar"></a>
                </li>
                <li class="nav-item">
                    <a (click)="logout()"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>